@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/Helvetica-Neue.ttf");
}

@font-face {
    font-family: "Helvetica Neue Thin";
    src: url("../fonts/Helvetica-Neue-Thin.ttf");
}

:root {
    --color-background: #FFE1E1;
    --color-primary: #720000;
    --color-secondary: rgba(114, 0, 0, 0.7);
    --font-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-weight: 500;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: var(--color-background);
    height: 100%;
    width: 100%;
}

.title-text {
    font-size: 36px;
    line-height: 44px;
    color: var(--color-primary);
    font-family: var(--font-main);
    font-weight: var(--font-weight);
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
}

.subtitle-text {
    font-size: 20px;
    line-height: 28px;
    color: var(--color-secondary);
    font-family: var(--font-main);
    font-weight: var(--font-weight);
    text-align: center;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}