@font-face {
    font-family: "Federal Escort";
    src: url("/static/fonts/FederalEscort.ttf") format("truetype");
}

.text-title {
    font-size: 350px;
    text-align: center;
    line-height: 0.6;
}


.text-supertitle {
    font-size: 100px;
    line-height: 0.8;
}

/* Small Mobile */
@media (max-width: 480px) {
    .text-title {
        font-size: 75px;
    }
    .text-supertitle {
        font-size: 30px;
    }
}

/* Mobile */
@media (min-width: 481px) and (max-width: 768px) {
    .text-title {
        font-size: 100px;
    }

    .text-supertitle {
        font-size: 40px;
    }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) {
    .text-title {
        font-size: 150px;
    }
    .text-supertitle {
        font-size: 50px;
    }
}

/* Laptop */
@media (min-width: 1025px) and (max-width: 1440px) {
    .text-title {
        font-size: 200px;
    }
    .text-supertitle {
        font-size: 75px;
    }
}

/* Big Laptop */
@media (min-width: 1441px) and (max-width: 1770px) {
    .text-title {
        font-size: 275px;
    }
    .text-supertitle {
        font-size: 90px;
    }
}

svg.background-item {
    opacity: 1;
    fill: rgba(94, 233, 181, 0.1);
    stroke: rgba(0, 0, 0, 0.2);
}

svg.background-item.x {
    bottom: 50px;
    transform: rotate(45deg);
    width: 1200px;
    height: 1200px;
}
